*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:black;
    position: relative;
}
 .wrapper{
   height: 500px;
   width: 450px;
   position: relative;
 }
 .wrapper img {
    position:absolute;
    height: 450px;
    width: 100%;
    margin-top: -30px;
 }
 .wrapper label {
        position: absolute;
        bottom: 30px;
        left: 50%;
       transform: translateX(-50%);
    }
 .wrapper label span {
    color: #fff;
   
    text-transform: uppercase;
    display: block;
    border: 2px solid #fff;
    width: 180px;
    height: 50px;
    text-align: center;
    line-height: 48px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}     
    .wrapper label span:before{
        content:"Turn off";
        
    }
    .wrapper  :hover{
       background: #fff;
       color:#111;

}
.wrapper img#bulb-on{
    opacity: 0;
    animation: glow 1000s linear infinite;
}
@keyframes glow {
       0%{
        opacity: 1;
       }
       5%{
        opacity: 1;
       }
       70%{
        opacity: 1;
       }
       74%{
        opacity: 0;
       }
       80%{
        opacity: 1;
       }
       84%{
        opacity: 0;
       }
       90%{
        opacity: 1;
       }
       100%{
        opacity: 1;
       }
}

#btn:checked ~ #bulb-on{
    animation: none;

}
 
.wrapper input{
    display: none;
}

#btn:checked ~ label span:before{
   
    content: "Turn on";

}
